$base-font-size: 22px !default;
$base-font-color: rgba(0, 0, 0, 0.8) !default;
$heading-font-family: jaf-bernino-sans, 'Open Sans' 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif !default;
$base-font-family: freight-text-pro, Merriweather, Georgia, Cambria, 'Times New Roman', Times, serif !default;
$code-font-family: Consolas, 'Liberation Mono', Menlo, monaco, 'Inconsolata', 'Ubuntu Mono', Courier, monospace !default;
$link-color: rgb(77, 204, 75) !default;
$base-line-height: $base-font-size * 1.5;
$base-spacing: $base-line-height;
$background-color: #fafafa !default;
