@import "bourbon/bourbon";
@import "variables";
@import "contentfocus/icons";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  color: $base-font-color;
  letter-spacing: 0.16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color $base-duration;
}
a:hover {
  color: darken($link-color, 20%);
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 1.66em 0 0.83em;
  a {
    text-decoration: none;
    color: $base-font-color;
  }
}

h1, h2 {
  font-size: $base-font-size * 1.64;
  line-height: $base-font-size * 1.64 * 1.15;
  letter-spacing: (-1px*(23/32));
}

h3, h4 {
  font-size: $base-font-size * 1.46;
  line-height: $base-font-size * 1.46 * 1.18;
  letter-spacing: (-1px*(22/32));
}

p, ul li, ol li {
  line-height: $base-font-size * 1.5;
}

ul li, ol li {
  margin: 0.5em 0;
}

code {
  font-size: 85%;
  background: rgba(0, 0, 0, 0.04);
  padding: 0 0.2em;
  border-radius: 3px;
}

pre > code {
  display: block;
}

.container {
  margin-bottom: 3em;
}

.articles {
  ol {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

section.header {
  height: 65px;
  border-bottom: 1px solid #ddd;
  h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    line-height: 65px;
  }
}

mark, blockquote {
  background: transparent;
  transition: background $base-duration $base-timing, border $base-duration $base-timing, color $base-duration $base-timing;
  border-left: 5px solid transparent;
  padding: 0 5px;
  &:hover {
    background: lighten(#55acee, 30%);
    border-left: 5px solid #55acee;
    cursor: pointer;
  }
}
.twitter-share-button {
  @extend .icon-twitter;
  transition: background $base-duration $base-timing, color $base-duration $base-timing;
  border-radius: 50%;
  vertical-align: middle;
  height: 33px;
  width: 33px;
  margin: 0 10px;
  background-color: transparent;
  color: #55acee;
  display: inline-block;
  line-height: 33px;
  font-family: "fontello";
  font-style: normal;
  margin-bottom: 5px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $base-background-color;
    background: #55acee;
  }
}

#content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 730px) {
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h1, h2, h3, h4, p {
      clear: both;
  }

  ul, ol {
    margin: 1em 0;
  }

  img {
    max-width: 100%;
  }

  section.articles {
    header {
      img.intro {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        overflow: hidden;
      }
    }
    h1, h2, h3, h4 {
      text-align: left;
      margin: 0.2em 0;
    }
    p {
      margin-top: 0.2em;
      margin-bottom: 0;
      line-height: 1.7em;
    }
    footer {
      @include clearfix;
      margin: 0 0 3em;
      line-height: 1.6em;
      color: rgba(120, 120, 120, 0.8);
      .meta {
        margin-top: 1em;
      }
      .more {
        display: block;
        float: left;
        text-overflow: ellipsis;
        max-width: 18em;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
      }
      .more::after, .categories::after {
        content: '·';
        margin-right: 3px;
      }
      .author {
        float: left;
        margin-right: 0.25em;
        font-style: normal;
        font-size: 100%;
        margin-top: 0;
        clear: left;
      }
      .date {
        float: left
      }
    }
  }
  div.author {
    margin-top: 2em;
    color: rgba(120, 120, 120, 0.8);
    text-align: center;
    img.avatar {
      padding: 2px;
      border: 1px solid rgba(120, 120, 120, 0.8);
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      margin-top: $base-spacing/4;
      font-size: 85%;
      font-style: italic;
    }
  }
  [class^="icon-"] {
    color: inherit;
  }

  h1, h2, h3, section h1, section h2, section h3 {
    position: relative;
    a[class^="icon-"] {
      font-size: $base-font-size;
      position: absolute;
      color: transparent;
      left: $base-spacing * -1;
    }
    &:hover a[class^="icon-"] {
      color: transparentize($base-font-color, 0.6);
      &:hover {
        color: $base-font-color;
        text-decoration: none;
      }
    }
  }
}

figure.intro {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000000;
  max-height: 85vh;

  h1 {
    font-size: 13vmin;
    position: absolute;
    top: 35%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    line-height: 1.1em;
    z-index: 2;

  }
  img {
    width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.8;
  }
}

footer.post-links {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  margin: 0;
  border-top: 1px solid #ddd;
  padding: 10px;
  color: rgba(120, 120, 120, 0.8);
  font-size: 15px;
  line-height: 22px;

  span.author {
    img.avatar {
      border: rgba(120, 120, 120, 0.8);
      vertical-align: middle;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      padding: 1px;
      box-sizing: border-box;
    }
    @media screen and (max-width: 580px) {
      display: none;
    }
  }
  span.date::after {
    content: '·';
  }
  .addthis_sharing_toolbox {
    float: right;
    margin-right: 15px;
    margin-top: 2px;
  }
  span.categories {
    float: right;
    margin-right: 15px;

    span.read-more {
      @media screen and (max-width: 470px) {
        display: none;
      }
    }

    span.category {
      &::after {
        content: ', ';
        text-decoration: none;
      }
      &:nth-last-child(2)::after {
        content: ', or ';
        text-decoration: none;
      }
      &:only-child::after, &:last-child::after {
        content: '';
        text-decoration: none;
      }
    }
  }
}

ul.menu {
  list-style: none;
}

blockquote {
  position: relative;
  font-weight: 400;
  font-style: italic;
  font-family: $base-font-family;
  margin: 1.5em 0 1em;

  &::before {
    transition: color $base-duration;
    display: block;
    content: "\201C";
    font-size: 300%;
    position: absolute;
    font-family: Georgia, serif;
    left: $base-spacing * -1.5;
    top: $base-spacing * -0.5;
  }

  &:hover {
    &::before {
      color: #55acee;
    }
    .twitter-share-button {
      text-decoration: none;
      color: $base-background-color;
      background: #55acee;
    }
  }

  p {
    margin-bottom: 0;
    font-weight: 400;
    font-style: italic;
    font-family: $base-font-family;
  }

  cite {
    display: block;
    font-size: 75%;
    color: lighten($base-font-color, 25%);
    img {
      border-radius: 50%;
      vertical-align: middle;
      margin: 5px;
      height: 2em;
      width: 2em;
      border: 1px solid #000;
      padding: 2px;
    }
    a {
      color: lighten($base-font-color, 25%);
    }
    &:before {
      content: "\2014";
    }
    em {
      color: lighten($base-font-color, 35%);
    }
  }
}

#content {
  ul.toc {
    list-style: none;
    padding-left: 0;
    font-size: 90%;

    li {
      margin: 0;
    }

    ul {
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 90%;
      padding-left: 1em;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  th, td {
    padding: 0.25em 0.5em;
  }
  tr:nth-child(even) {
    background-color: #efefef;
  }
}

$code-background: #fcfcfc;
.hll, .hlltable, .hll > table {
  background-color: $code-background;
  border-radius: 3px;
  font-family: $code-font-family;
  font-size: 20px;
  line-height: 24px;
  pre {
    padding: 0;
    margin: 0;
  }
 }
.hlltable, .hll > table {
  border-spacing: 0;
  border: 1px solid darken($code-background, 10%);
  width: 100%;
  overflow-x: auto;
  display: block;

  td {
    padding: 0;
    pre {
      padding: 1rem 0;
      & > span {
        &.line {
          padding: 0 0.5rem;
          box-sizing: border-box;
          width: 100%;
          display: inline-block;
        }
        &.highlight {
          background: #f7f7c6;
        }
      }
    }
  }
  td.gutter {
    border-right: 1px solid darken($code-background, 10%);
    width: 50px;
    display: inline-block;
    pre {
      width: 100%;
      a {
        color: darken($code-background, 20%);
        text-decoration: none;
        width: 100%;
        display: inline-block;
        padding: 0 0.5rem;
        box-sizing: border-box;
      }
    }
  }
  td.code {
    width: 100%;
  }
  .hll {
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
}
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
.gutter, .lineno {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: darken($code-background, 20%);
  text-align: right;
}

