@import "bourbon/css3/hidpi";
@import "variables";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  color: $base-font-color;
  letter-spacing: 0.16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.5s;
}
a:hover {
  color: darken($link-color, 20%);
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 1.66em 0 0.83em;
  a {
    text-decoration: none;
    color: $base-font-color;
  }
}

h1, h2 {
  font-size: $base-font-size * 1.64;
  line-height: $base-font-size * 1.64 * 1.15;
  letter-spacing: (-1px*(23/32));
}

h3, h4 {
  font-size: $base-font-size * 1.46;
  line-height: $base-font-size * 1.46 * 1.18;
  letter-spacing: (-1px*(22/32));
}

p, ul li, ol li {
  line-height: $base-font-size * 1.5;
}

ul li, ol li {
  margin: 0.5em 0;
}

code {
  font-size: 85%;
  background: rgba(0, 0, 0, 0.04);
  padding: 0 0.2em;
  border-radius: 3px;
}

pre > code {
  display: block;
}

.container {
  margin-bottom: 3em;
}

.articles {
  ol {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

section.header {
  height: 65px;
  border-bottom: 1px solid #ddd;
  h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    line-height: 65px;
  }
}

mark, blockquote {
  background: transparent;
  transition: background 0.5s;
  &:hover {
    background: #d3f7d2;
  }
}
.twitter-share-button {
  margin: 0 10px;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAUCAYAAADPym6aAAAFf0lEQVRIiaWWz29V1RbHP2vvc3+0VBMSwISopdTbUq4/eKV9PNKBaSCoExi8cBGqCB3oyISBfwCJcWA0mhgHTJQX+5R6Mf4ATGTggKTB9/KAF0lK27SFlkBinr8ClIZ7z9lrvcGloYXe2x+s0cna65zP97v3XvtsYZlRLJpvzo8/byL7gCdFOGJpfuxobr4xUzMwPPxIV2vrlIjYchi7i+YbmHxeHftQfVIkdeS2lX88XrjH6P1k+JFPe1unBODcyMgq1XT+r21NZxYD+PfwRJPXcATYcd/QJTN7y0x+8469JlzraGv+AGDvFyOrIly+b19uUYxXixNNTuyIiNshzmOmiDgsJJc0JG8Fwm9RVLfXkvjaZy83f+AAJPhtzvTEfwYv71wIcPHi5Eqv4at5TABsFJGTznHWoCvAqXMjI6sAUlF6W1S/4sRrxYUZ+z6/uNJZ+Mqnszs0JIS4hCYxIS6BcxsRdzKKsmdNky7g1N4vRlY5AEQ2AI+KWP/5S+OHikXz1SDlVHIQaK+hwwOJwE1v9nYEGQBMN3gfPYrz/QeOXzm0u1isyoj8ioNRtr49uTP9wJgmMSLi0ZCI8zcRezsV1WdchSFTd+vqDD5sfvryyQtDo1vnpRgv1DAxE1mDxyTo4U2trdcBxMmUhgRU68RHH9ZL58n9xYn5GU5e0BCqftxMwfmsGI+ZRYc/KzxxPQJw3s6oEqjMJgYvmblt5wfHflAn/ZbYQOfTzddFRIH6RRiZlhD2bH6mZWgmoWJnKJeCYT7EZXwq85Im8bbXild+wLTfZbIDjbvWXj8sopjVm1U/H0QETKdDiPf0vVxhyMzguaHLH2H2ZpV3/zQYd8akwRaExxcwcjOJNf+353LXZif394995NOZN0NcnlGEj9KAEZL4T2DczCZF2CLiHzedf1VEHKbhZkgs//krFUYEcH5wvAflFxMbAmmb592VAh0mdCxgYCZuZTSamp14pX+8x6VSv4Q4HhLn20wDmFUauCJupXjfIc53aFKmmomZCUC4lYrvMSo9IlJnYu+AtCxSaO0wJjZtWndjdsp5qUtl698Ba5lPpJlWTqbyHUy15ufFeUAmjh64x3AALhW+Aya52yMPGyZy9v6foLfwXen2jUkXpR+a4bwHszkMB9Cey/0q4t4A/nhYCKBiduL+5NFC7lczfQPTP3w6y6z2XHKEuKw4mcNwMw+b25pOY+y6K6K0bIrx063/Xf3XfEN9e3KntZzs0iQ5IU5KyNLN+FQa0/DT+tXr5zDcnCqxbhNpY/nTZeLk3e7u7qS6Eut23reZqrCMG5iZmUPePdwtcxhzjIhxDMgC6aUjQODL9g1Np2rVqHBMkzgbZeqXzIgydYS4/OU/Cg8y5hjZnH9qzJm+iNlpoLxEzmAc5NBCN91/Fp4aS0he1KR8WpxbNMOnMoS4NJipc4eYh1F1C10YGt2q6t5D6FoEZ9yZ7mzP5y4tVhjA/uLEVoH3xEmXhhq7MZ1FQzzuVHYeLTTOy4jMTGbP4s8/j62J07LdzF5H2LIIPQMeev+Sz43WqBG41xGvfj22RpJoO9jriGypZkKcu7sS8YCUQ+/RnuaqDLkwOrraYtdjRifQCOQQ1iysX343s4/rufN+Pp+fqlV5sDi62iTqQaRTQ2hEJOej1Boz0OS+3SWC8xHOR4Sk/LuYfXzbpt8/XqjNEIALw8NrVVO7BQoGzwINVepLwJAI36oPfZ0tLZcXNlyJ3mNX1yY+7EYogDzrnGtwPqJyyzWcjzANaBKXEBkS57510Pfp3xsXxXigR/47dGVdYroRkfVibDesAfge4aqpDq+gPJrP55d6EMyJA99cWUeQjQrrUd0uWAPmvsfLVYiHp7U8erywNMb/AWjzhn4ByoGeAAAAAElFTkSuQmCC);
  background-size: 50px 20px;
  @include hidpi {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAoCAYAAAAIeF9DAAAJEElEQVR42tVbW4wTZRSut5h41+Alxmg0PmiIxviA8YGIiQkhRhMviCs7ly6kDxgiDxoiEbKJvqBRwgsJKqIo3Zlp64puQBPjEtxtu7jAtkOlc++NyyoJqCywcqnfKcMOYssO7d+Lf3Iy7W6nzXe+Odf//IF2rdFRbcbIXmNuIq2/k0hrfyVV/ftEShPi6X2PlMvlKwL/k9UV1mYEo4W5QiT3Dq9Yf/Gy/T0vO4KoWI8EAv8DHEMZ695kWl8DKUHKFwsIOgnZnlD1F2uTad0M8hYnVfvOduGA8u8VIs4aEFESY4VyzzcHyrxilyuv+/eX8b+TYiS3HVITR0ixbuYle3FXuAaOhGrMgSIebhaIZMp4uRYRNcjZHM9kbjt/fzytPTSiaivwdxP/H1CU8lXVfkeMOHM4qXk4+D7jZTGaL/VsOVgGIWVetv4rICf4dYkIwmtn8yKlOIVDjDoP8ZHciuA3B0x8dmC+ovwXB4EDyCTcR3o4Zd7BnAzV6EmmtVN+yfBI0YZBwOqkqg3h/YT79+Pk2qr9znzgwNObxBOa5r5mjwMK7BFihVMghBTvR2A9B0GKNSzI1mpBtocExZlY9O14WYjmjldcW7W1c8yYCaCTLuAdLEmJp42nYHkn6LtZCLkrz32NXnPhbwlhYyaUMEkuBKTs4Daxw8GFjadAxAnPKvyL69ZwLYKI/DnLkYwpHKH1wHHhGklp/EXAkyOp7P2NB+8D1+EJ382IjCOQEFnzzoz+GF6vTKrZR/9FiGTy5MNJCXSFD09ySq5hHFDYdXBDu+GG6LvrFlgHyMgfwTVErkrsLz2GRGAlH7YJh7cIXBUfbtLT3QAOEK13MbGKtH4a7msbLG0d3o8hKzsDef/ijIyXzZVwEVMKCPaX6Ik0OaUxHHA3XUGX6EYE1nWak+1tIGQdYssYCD4Dot8PAMfFhLxbQxkTUOpbFddQx8L9WyDlJsjGakFdkM13PUI8dyFGcxOiYr9FrqG+rMre4hLCgpSK+1o8cLgsSNZGinvVMqBll1SAqv00kjaevCwyDOMm3FtoBhlbDePaqn5espYBbBUlOGVSqKDkfuKV3GXhWPiVcRO+owBFsiFEsYkQXK2N87ZWxxGAS3jGh9s4mVC1TysZjo/1S1p/wMuMGhdKDCDvkWVcIgt65lIZEMUAqhGQ4XyKDMcXjp5Y/gHcOwFFNk4IvoMSA3zXexXLqLV+Tudv9V8jaMdwDVOlTUG71ndS3eBlbiziiCZPp7zXNudvRRwpQeE+ntDcMXwuzEWduaHvauOguoEyN54BIZWiUbZln7WC/kEdwXYf7lubSBnPUxU+ODh49RQhKOooM2LmqlTtC3+1gvkBijZfroPcGJGHILsPlrMWf3ueqvDewfIUjkVK5jZ8njIjNoRIpi8cgaHd2bs9K6lLjkLG4FZieJo/SqaNVSDrMMPYscGXi+nL3g2lUkvDt6LgRtw6oUBEHYU1jCELiiG7+ghxaRXeH2ZCCMW3iLXBf5qq6s96bqbjZI1fHAiYz0LJkwjEddYKBbIeUmBFXHfFhBCQPD0OuB4xmdJfSqVS1yNwL8D78U4jJJE2lk9bTSumKPQXX+J+OHQ932cuQBE27j3Z7Rc3A1zugxDtQzdgO3AzUbze1XGE4EGZNn5I1oeLB36np9zhZCvKyeYuIdI5hFQqfcVc4Kf5190mRfuv1FPG49MHdLv7XPs7V6nS3RS4Q8Qm13e6W5oeR4D6VrRR1MGklGgfZDoc1LeijSLGbopZhU4peUgBDj+L8vwOJmTAf4vclF1f3VECi6WrbxwB6pxS0deRhKj6G74JidqP4mk85mZYnRXQJYtw+F+oIZZ2XjDXT1DVf1nNQMlcSgHUbXe0W9y02T4hhoHjchcVdJ0V0LUf6xl84BRrFQV1MVrojOxKsn4M1DvAkdyrvQpl2B1SfywM1LlEyXwVrstGS56KvbbGD7Ta68Nx/mkcymZvTKa0JVBKnPbD2xQ79MFM5oa6gLg4ejZkb8TO4RIQE+cj9qlWkwErJevQlyi/1Ydjzx7nFihDARkSCRWJbSIEor1et3X0O7eghaKgWyshpkhoWeyCLz/VjmDOyQZwNLCgjM86oBhUqZXT4JTIZ6FtR+DD21Mkum5SpVZOQ4QM//rrfVDKoTYSchaV+XOBBteimH0fisRD7anYbSLkLPbQgYPBiqvaC+3q/MI6Pmc32Ga+AMVMYt+jDY1EkxkOr8el6n+2OG5kd+w2bmc74GZ0o/P7J1rqLUpzi1R7ZIMKcLBeiZT+BBQ12KKs6g93mIL54vr0J5BpDaIu8TajmtAJJkvE7/zBh5uCwxs1RYE2Dy3wT9zWfAFylrFl/O212Jkvb9Q0kpsnRPKfILbswv52Ac3IsywbiIhXf9NeTEuPEmB/exMNqzEkg9LqUKuPEvDR3CYo8AwrMoKY++UkszU4UDBeSccEoLwUY1d1nHYsW0VEb2/vlZxkvQgFppAOM0tvMSF5nOszm4rDO4+hZl+hYbkmxI0ijRO1ggjahxCi9is0LAerYNZKwYYYkVHkZKdxHDQBeOFsFY3x0IwWTcOfm8vVPm5eT0vbGs+YD7JQ9lJMAGJMdArHHOCgGS0haswUZKcLceNjXnHsYKxIGRCz4B08tzu5tftLNjgClF5Sd5fOYVCwpuoYsr/J9UeJWiJEfoDRovQSQRrd3dxwpUUimSpqgP004Aa3RFkVPcUMZ3MP4povISl4fU4vMxzeGQuKDXQopsnF3jhkNeaI7wk0YdEgNRdBbIjmhogEHIphRcLUcTX33Mk4ZPXCrxrA4bfLm9ybfZqqZGqbsBpOwHUUGdmbjRPhv8vLx3JPI058Tm0TIscbgnN8E0CW4N5L953G+1HImwtjwNHqtTOTuQsF2nwocz2UuQfXoz5JmAQJeTrLAYt7O57RZrlHGdqyRMW5S4zk58NS1kOpe2gq8fwkPCma4gm9d4tFCtBEHBEyic/mcc82/P9tvJ/lHmVo/yJfT3O7OGU1mwK9e3QhAinSiVkaYKMzhFQ4UjLgTod03KJ5XZrbFSP2bCHqdIkRZxmsIQIpQuHbcV2OuqQH8WceCJwZUlqP4x8ROSt/5PBnGAAAAABJRU5ErkJggg==);
  }

  background-position: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  text-indent: -999em;

  width: 25px;
  height: 20px;
  line-height: 20px;
  &:hover {
    background-position: -25px 0px;
  }
}

#content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 730px) {
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h1, h2, h3, h4, p {
      clear: both;
  }

  ul, ol {
    margin: 1em 0;
  }

  img {
    max-width: 100%;
  }

  section.articles {
    header {
      img.intro {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        overflow: hidden;
      }
    }
    h1, h2, h3, h4 {
      text-align: left;
      margin: 0.2em 0;
    }
    p {
      margin-top: 0.2em;
      margin-bottom: 0;
      font-size: 67%;
      line-height: 1.7em;
    }
    footer {
      @include clearfix;
      margin: 0 0 3em;
      font-size: 60%;
      line-height: 1.6em;
      color: rgba(120, 120, 120, 0.8);
      .meta {
        margin-top: 1em;
      }
      .more {
        display: block;
        float: left;
      }
      .more::after, .categories::after {
        content: '·';
      }
      .author {
        float: left;
        margin-right: 0.25em;
        font-style: normal;
        font-size: 100%;
        margin-top: 0;
        clear: left;
      }
      .date {
        float: left
      }
    }
  }
  div.author {
    margin-top: 2em;
    color: rgba(120, 120, 120, 0.8);
    font-size: 85%;
    font-style: italic;
  }
}

figure.intro {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000000;

  h1 {
    font-size: 13vmin;
    position: absolute;
    top: 35%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    line-height: 1.1em;
    z-index: 2;

  }
  img {
    width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.8;
  }
}

footer.post-links {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  margin: 0;
  border-top: 1px solid #ddd;
  padding: 10px;
  color: rgba(120, 120, 120, 0.8);
  font-size: 15px;
  line-height: 22px;


  span.author {
    @media screen and (max-width: 580px) {
      display: none;
    }
  }
  span.date::after {
    content: '·';
  }
  .addthis_sharing_toolbox {
    float: right;
    margin-right: 15px;
    margin-top: 2px;
  }
  span.categories {
    float: right;
    margin-right: 15px;

    span.read-more {
      @media screen and (max-width: 470px) {
        display: none;
      }
    }

    span.category {
      &::after {
        content: ', ';
        text-decoration: none;
      }
      &:nth-last-child(2)::after {
        content: ', or ';
        text-decoration: none;
      }
      &:only-child::after, &:last-child::after {
        content: '';
        text-decoration: none;
      }
    }
  }
}

ul.menu {
  list-style: none;
}

blockquote {
  position: relative;
  font-weight: 400;
  font-style: italic;
  font-family: $base-font-family;
  margin: 1.5em 0 1em;

  &::before {
    display: block;
    content: "\201C";
    font-size: 300%;
    position: absolute;
    font-family: Georgia, serif;
    left: -30px;
    top: -15px;
  }

  p {
    margin-bottom: 0;
    font-weight: 400;
    font-style: italic;
    font-family: $base-font-family;
  }

  cite {
    display: block;
    font-size: 75%;
    color: lighten($base-font-color, 25%);
    img {
      border-radius: 50%;
      vertical-align: middle;
      margin: 5px;
      height: 2em;
      width: 2em;
      border: 1px solid #000;
      padding: 2px;
    }
    a {
      color: lighten($base-font-color, 25%);
    }
    &:before {
      content: "\2014";
    }
  }
  em:last-of-type {
    display: block;
    float: right;
    margin: 1em 0;

    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}

#content {
  ul.toc {
    list-style: none;
    padding-left: 0;
    font-size: 90%;

    li {
      margin: 0;
    }

    ul {
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 90%;
      padding-left: 1em;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  th, td {
    padding: 0.25em 0.5em;
  }
  tr:nth-child(even) {
    background-color: #efefef;
  }
}

$code-background: #fcfcfc;
.hll, .hlltable, .hll > table {
  background-color: $code-background;
  border-radius: 3px;
  font-family: $code-font-family;
  font-size: 20px;
  line-height: 24px;
  pre {
    padding: 0;
    margin: 0;
  }
 }
.hlltable, .hll > table {
  border-spacing: 0;
  border: 1px solid darken($code-background, 10%);
  width: 100%;
  overflow-x: auto;
  display: block;

  td {
    padding: 0;
    pre {
      padding: 1rem 0;
      & > span {
        &.line {
          padding: 0 0.5rem;
          box-sizing: border-box;
          width: 100%;
          display: inline-block;
        }
        &.highlight {
          background: #f7f7c6;
        }
      }
    }
  }
  td.gutter {
    border-right: 1px solid darken($code-background, 10%);
    width: 50px;
    display: inline-block;
    pre {
      width: 100%;
      a {
        color: darken($code-background, 20%);
        text-decoration: none;
        width: 100%;
        display: inline-block;
        padding: 0 0.5rem;
        box-sizing: border-box;
      }
    }
  }
  td.code {
    width: 100%;
  }
  .hll {
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
}
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
.gutter, .lineno {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: darken($code-background, 20%);
  text-align: right;
}

