- if ENV["ADDTHIS_PUB_ID"]
  %script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=#{ENV["ADDTHIS_PUB_ID"]}" async="async")
- if ENV["SNIPLY_PROFILE_ID"]
  :javascript
    var sniply_profile_id='#{ENV["SNIPLY_PROFILE_ID"]}'; var s, r, t; r=false; s=document.createElement('script'); s.type='text/javascript'; s.src='https://ffb2efd5105ff0aedbc9-9cdacdeebf0faa19b665bf427f0c8092.ssl.cf1.rackcdn.com/js-snippet/snip_external_links_library.js'; s.onload=s.onreadystatechange=function () { if (!r && (!this.readyState || this.readyState == 'complete')) { r=true; }}; t=document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);
- if ENV["SUMOME_SITE_ID"]
  %script(src="//load.sumome.com/" data-sumo-site-id="#{ENV["SUMOME_SITE_ID"]}" async="async")
- if ENV["FACEBOOK_APP_ID"]
  #fb-root
  :javascript
    (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=#{ENV["FACEBOOK_APP_ID"]}";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
